@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body {
    font-family:"游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
    color: #F7F7F7;
}
article{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #F7F7F7;
}
.about-content{
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
}
.about-content h2{
    color: black;
    font-size: 2.5rem;
}
.about-content p{
    font-weight: bold;
    color: black;
    margin-top: 3%;
    line-height: 40px;
    font-size: 1.6rem;
}









@media (max-width: 1500px) {
    article{
        padding-top: 300px;
        padding-bottom: 300px;
    }
    .about-content h2{
        font-size: 3.2rem;
    }
    .about-content p{
        margin-top: 3%;
        line-height: 50px;
        font-size: 2rem;
    }
}


 @media (max-width: 1200px) {
    article{
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .about-content h2{
        font-size: 3.2rem;
    }
    .about-content p{
        margin-top: 3%;
        line-height: 50px;
        font-size: 2rem;
    }
 }

 @media (min-width:900px) and (max-width: 1025px) {
    article{
        padding-top: 400px;
        padding-bottom: 400px;
    }
    .about-content h2{
        font-size: 4rem;
    }
    .about-content p{
        margin-top: 3%;
        line-height: 50px;
        font-size: 2.5rem;
    }
 }

 @media (orientation:landscape) and 
 (max-width:1025px){
    article{
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .about-content h2{
        font-size: 3.2rem;
    }
    .about-content p{
        margin-top: 3%;
        line-height: 50px;
        font-size: 2rem;
    }
 }

 @media (max-width: 900px) {
    article{
        padding-top: 250px;
        padding-bottom: 250px;
    }
    .about-content h2{
        font-size: 3.2rem;
    }
    .about-content p{
        margin-top: 3%;
        line-height: 50px;
        font-size: 2rem;
    }
 }

 @media (orientation:landscape) and 
 (max-width:900px){
    article{
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .about-content h2{
        font-size: 3.2rem;
    }
    .about-content p{
        margin-top: 3%;
        line-height: 50px;
        font-size: 1.8rem;
    }
 }

 @media (max-width: 769px) {
    article{
        padding-top: 230px;
        padding-bottom: 230px;
    }
    .about-content h2{
        font-size: 3.2rem;
    }
    .about-content p{
        margin-top: 3%;
        line-height: 50px;
        font-size: 2rem;
    }
 }

 @media (orientation:landscape) and 
 (max-width:769px){
    article{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .about-content h2{
        font-size: 2.5rem;
    }
    .about-content p{
        margin-top: 3%;
        line-height: 50px;
        font-size: 1.5rem;
    }
 }

 @media (max-width: 700px) {
    article{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .about-content h2{
        font-size: 2.3rem;
    }
    .about-content p{
        margin-top: 3%;
        line-height: 40px;
        font-size: 1.4rem;
    }
 }

 @media (max-width: 599px) {
    article{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .about-content h2{
        font-size: 2.3rem;
    }
    .about-content p{
        margin-top: 3%;
        line-height: 35px;
        font-size: 1.3rem;
    }
 }

 @media (max-width: 481px) {
    article{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .about-content h2{
        font-size: 2.3rem;
    }
    .about-content p{
        margin-top: 3%;
        line-height: 35px;
        font-size: 1.3rem;
    }
 }

 @media (max-width: 416px) {
    article{
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .about-content h2{
        font-size: 2rem;
    }
    .about-content p{
        margin-top: 3%;
        line-height: 35px;
        font-size: 1.2rem;
    }
 }

 @media (max-width: 376px) {
    article{
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .about-content h2{
        font-size: 2rem;
    }
    .about-content p{
        margin-top: 3%;
        line-height: 35px;
        font-size: 1.1rem;
    }
 }

 @media (max-width: 321px) {
    article{
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .about-content h2{
        font-size: 1.6rem;
    }
    .about-content p{
        margin-top: 3%;
        line-height: 30px;
        font-size: 1rem;
    }
 }
 